.catalog__cards {
    display: grid;
    gap: 40px 20px;
    /* grid-template-columns: repeat( auto-fit, minmax(190px, 335px) ); */
    grid-template-columns: repeat(auto-fit, minmax(119px, 305px));
    padding: 0 0 0 60px;
    flex: 3;
    align-content: stretch;
    justify-items: stretch;
    justify-content: start;
    grid-auto-rows: max-content;
}
.catalog__card {
    /* max-width: 290px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    height: max-content;
    height: 100%;
}
.catalog__card a {
    height: 100%;
}
.card__content {
    background-color: #f8f8f8;
    border-radius: 20px;
    position: relative;
    height: 100%;
}
.card__content:hover .card__link {
    transform: scale(1.2);
}
.card__link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 36px;
    height: 36px;
}
.card__img {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    max-height: 335px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.card__desc {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card__desc p {
    font-size: 16px;
}
.card__desc .card__title {
    text-wrap: nowrap;
    font-size: 22px;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
}

.icon-search {
    height: 24px;
    width: 24px;
}
.input-search {
    min-width: 100px;
}

.method input::placeholder {
    color: #181f20;
    font-family: "Cera Pro", sans-serif;
}
.method {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}
.sort__link {
    display: block;
    margin-bottom: 15px;
}
.catalog__sect {
    display: flex;
}
.filters {
    flex: 1;
}
.butn__open {
    margin-top: 30px;
}
.catalog__sorting {
    background-color: #ececec;
}
.form-check-input:focus {
    border-color: transparent;
    box-shadow: none;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
    border: 2px solid #727676;
    flex: 2;
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
    max-width: 20px;
}

.form-check-input:checked {
    background-color: #ccf60e;
    border-color: #ccf60e;
}
input[type="checkbox"],
input[type="radio"] {
    height: 20px;
    width: 20px;
}
.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
}

/* -----------------------------кастом bootstrap accordion---- */
.accordion {
    width: 300px;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
    border-radius: 10px;
}

.accordion-button {
    text-transform: uppercase;
    font-weight: 500;
    padding: 17px 25px;
    font-size: 16px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    background-color: #f8f8f8;
    border-radius: 10px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrw-catalog.svg);
    width: 18px;
    height: 18px;
    transform: rotate(-180deg);
}
.accordion-button::after {
    width: 18px;
    height: 18px;
    background-image: url(../img/arrw-catalog.svg);
    background-size: 18px;
}
.accordion-item .accordion-button {
    color: #181f20;
    background-color: #f8f8f8;
    border-radius: 10px;
    gap: 10px;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.ui-button .ui-icon {
    background-image: url(../img/arrw-catalog.svg);
    background-size: 80%;
    background-position: center;
}
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
    background-image: url(../img/arrw-catalog.svg);
}
.ui-selectmenu-button-open .ui-icon {
    background-image: url(../img/arrw-catalog.svg);
    rotate: 180deg;
}
.ui-icon-triangle-1-s {
    background-position: 0px -0px;
}
.accordion-collapse {
    background-color: #f8f8f8;
}

/* ..............................................кастом selected...................... */
.select {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}
.select_open {
    padding: 13px 20px;
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    justify-content: start;
    margin-right: 0;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    overflow: visible;
    background-color: #ececec;
    border: none;
    color: #181f20;
}

.select_open::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-150%, 0%) rotate(0deg);
    width: 12px;
    height: 6px;
    background: url(/img/icon/arrow-mini.svg) no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.3s;
}
.select_open.collapsed::after {
    transform: translate(-150%, 0%) rotate(180deg);
}

.select_noshow a {
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0;
    background: white;
}
.select_noshow a.active {
    background: #d7d7d7;
}
.select_noshow a:hover {
    color: #181f20;
    background: #ccf60e;
}
.select_noshow {
    z-index: 4;
    position: absolute;
    width: 250px;
    background: white;
    border-radius: 10px;
    bottom: 0;
    /* height: 190px; */
    transform: translate(0%, calc(100% + 8px));
    text-align: center;
    overflow: hidden;
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 0px 3px 5px #80808085;
}
.select_noshow.collapsed {
    height: 0;
    opacity: 0;
}
/* ----------------------------кастом jq range-------------------------------- */

.ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #ccf60e;
    background: #ccf60e;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 6px;
    height: 1px;
    display: flex;
    background: rgb(36, 36, 36);
}
.filter-price {
    font-family: "Cera Pro", sans-serif;
    border: none;
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
}
.accordion-body--price {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: calc(100% - 22px);
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: 0;
}
.accordion-item.mobile-sort {
    display: none;
}
.form-check-label {
    text-wrap: wrap;
    flex: 1;
}
/* ----------------------------------------------пагинация-------------------------------------------- */
.pagination {
    justify-content: flex-end;
}

.page-link {
    float: left;
    color: #666;
    font-size: 16px;
    line-height: 21px;
    border: none;
    min-width: 14px;
    padding: 6px 12px;
    margin: 0 8px 0 0;
    box-shadow: none;
    border-radius: 4px;
    background: #efefef;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #efefef;
    border-color: #efefef;
}
.page-link:hover {
    z-index: 2;
    color: #666866;
    background-color: #a9d8122e;
    border-color: transparent;
}
.page-link:focus {
    z-index: 3;
    color: #181f20;
    background-color: #dddddd;
    box-shadow: none;
}

.page-item.active .page-link {
    z-index: 3;
    border-radius: 4px;
    color: #fff;
    background-color: #a9d812;
    border-color: #f8f8f8;
}
/* --------------------------------------------------------- */

.butn-reset {
    color: grey;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    text-decoration: underline;
}
/* ---------------------------------------------------------------------/ */
.butn-greylight.p0 {
    padding: 0;
}
.search_img {
    max-height: 40px;
    max-width: 40px;
    object-fit: contain;
}
.search_item_result {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}
.search_butn {
    padding: 0;
    width: 19px;
    height: 100%;
    background: url(/img/search.svg) no-repeat;
    background-position: center center;
    background-size: contain;
}
.search_butn_prod {
    padding: 13px 20px;
    background-size: auto;
}
.search_points-sale {
    position: relative;
}
.search_window {
    position: absolute;
    content: "";
    top: 83px;
    left: -10000px;
    /* border: 1px solid #ececec; */
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    padding: 20px;
    z-index: 2;
    border-radius: 0px;
}
.search_window.show {
    left: 0;
}
.search_window.show {
    left: 50%;
    transform: translate(-50%, 30px);
}
.search_window p {
    font-weight: 500;
}
.butn_close-search {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    top: 0;
    color: white;
    width: 25px;
    height: 25px;
    transform: translate(-100%, 170%);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(/img/icon/close-black.svg);
}
.search_window.show ul {
    margin-top: 100px;
}
.search_window.show ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
}
.search_window ul li:hover {
    background-color: #ededed;
}
.search_window.show ul li.no_border {
    border-bottom: 1px solid transparent;
}
.search_window.show ul li.no_border:hover {
    background-color: transparent;
}
.search_push {
    position: absolute;
    left: 38px;
    background: transparent;
    border: none;
    top: 0;
    color: white;
    width: 24px;
    padding: 15px;
    height: 16px;
    transform: translate(-85%, 146%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-image: url(/img/icon/arrow-green.svg);
}
.input-search {
    display: none;
}
.input-search.abs {
    z-index: 3;
    background: white;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    padding: 18px 15px;
    display: block;
    width: calc(100vw - 400px);
    border-radius: 10px;
    border: 1px solid #ededed;
    max-width: 1150px;
}
.search_window.show {
    left: 50%;
    top: 0;
    padding: 0;
    transform: translate(-50%, 0px);
}
.show-mobile .accordion-header {
    width: 100%;
}

.filters__container .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 10px;
}
.filters__container .accordion-item:not(:first-of-type) {
    border-radius: 10px;
}
.filters__container .accordion-item:last-of-type {
    border-radius: 10px;
}
.filters__container .accordion-item:first-of-type {
    border-radius: 10px;
}
.product_catalog {
    width: 100%;
}
.accordion-item.show-mobile {
    display: none;
}


@media (max-width: 1400px) {
    .butn-greylight input,
    button {
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .catalog__cards {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(auto-fit, minmax(119px, 245px));
    }
}
@media (max-width: 1200px) {
    .catalog__cards {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(auto-fit, minmax(119px, 185px));
    }
    .card__desc .card__title {
        font-size: 16px;
    }
    .card__desc p {
        font-size: 14px;
    }
    .card__desc {
        gap: 5px;
    }
    .catalog__card {
        /* max-width: 290px; */
        gap: 15px;
    }
}

@media (max-width: 992px) {
    .search_window.show {
        left: 50%;
        transform: translate(-50%, 21px);
    }

    .input-search.abs {
        top: 0;
        transform: translate(-50%, 82%);
        width: calc(100vw - 413px);
    }
    .catalog__cards {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(auto-fit, minmax(119px, 170px));
    }
 
}
@media (max-width: 768px) {
    .card__desc .card__title {
        max-width: 200px;
    }
    .accordion-item.mobile-sort {
        display: block;
    }
    .select {
        display: none;
    }
    .catalog__cards {
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        grid-auto-rows: auto;
    }
    .catalog__card {
        gap: 15px;
        width: 100%;
    }
    .card__img {
        padding: 1px;
    }
    .pagination {
        justify-content: center;
    }
    .light-theme a,
    .light-theme span {
        padding: 5px 13px;
        margin: 0px 15px 0 0;
    }

    .sort_mobile {
        z-index: 99;
        padding: 80px 0;
        width: 100%;
        transform: translate(0%, 0%);
    }
    .accordion-item {
        border-radius: 0;
        margin-bottom: 0;
    }
    .butn-greylight {
        border-radius: 10px;
        /* margin-top: 25px; */
    }
    .accordion-item.mobile-sort:first-child {
        display: block;
        background: #f8f8f8;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .accordion {
        min-width: 270px;
        width: 100%;
        max-width: 100%;
    }
    .accordion-item {
        border: none;
        border-bottom: 1px solid #f1f1f1;
    }
    .filters__container {
        padding: 15px 15px 45px 15px;
        background: #f8f8f8;
        border-radius: 10px 10px 0 0;
    }
    .overlay-black {
        position: absolute;
        background-color: #000000a8;
        width: 100vw;
        z-index: 100;
        top: 0;
        left: 0;
        display: inline-block;
        filter: brightness();
    }
    .overlay-show {
        background-color: rgb(0 0 0 / 75%);
        backdrop-filter: blur(5px);
        overflow: auto;
        height: 100vh;
    }
    .search_window.show {
        padding: 0 25px;
    }
    .input-search.abs {
        /* left: 160px; */
        top: 0px;
        width: calc(100vw - 380px);
    }
    .accordion-item.show-mobile {
        display: block;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 0;
    }
    .filters__container .accordion-item:last-of-type .accordion-button.collapsed, .filters__container  .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .filters__container .accordion-item:first-of-type {
        border-radius: 0px;
    }
   
}
@media (max-width: 576px) {
    .light-theme a,
    .light-theme span {
        padding: 5px 11px;
        margin: 0px 10px 0 0;
    }
    .accordion-button {
        padding: 20px 0px;
        text-transform: none;
    }
    .accordion-item {
        border-bottom: 1px solid #dcdcdc;
    }
    .accordion-item.mobile-sort:first-child {
        padding: 20px 0;
    }
    .search_window.show {
        left: 50%;
        transform: translate(-50%, 0px);

        padding: 0 16px;
    }
    .input-search.abs {
        left: 50%;
        top: -20px;
        width: calc(100vw - 185px);
    }
    .card__img {
        max-height: 255px;
    }
    .card__desc .card__title {
        font-size: 16px;
    }
    .card__desc p {
        font-size: 13px;
    }
    .catalog__cards {
        gap: 30px 10px;
        justify-items: center;
        grid-template-columns: repeat(2, minmax(138px, 1fr));
    }
    .filters__container
        .accordion-item:last-of-type
        .accordion-button.collapsed {
        border-radius: 0px;
    }
    .filters__container .accordion-item:last-of-type {
        border-radius: 0px;
    }
}

@media (max-width: 400px) {
    .light-theme a,
    .light-theme span {
        padding: 3px 8px;
        margin: 0px 10px 0 0;
    }
    .card__desc .card__title {
        max-width: 110px;
    }
    .catalog__cards {
        gap: 20px 5px;
    }
}
