.catalog__cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    padding: 0 0 0 60px;
    flex: 3;
    grid-auto-rows: max-content;
}
.catalog__card {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    height: max-content;
}

.card__content {
    background-color: #f8f8f8;
    border-radius: 20px;
    position: relative;
}
.card__link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 36px;
    height: 36px;
}
.card__img {
    padding: 60px 1px 1px 60px;
    border-radius: 20px;
}

.card__desc {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card__desc p {
    font-size: 16px;
}
.card__desc .card__title {
    font-size: 22px;
    font-weight: 500;
}

.icon-search {
    height: 24px;
    width: 24px;
}
.input-search {
    min-width: 100px;
}

.method input::placeholder {
    color: #181f20;
    font-family: "Cera Pro", sans-serif;
}
.method {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}
.sort__link {
    display: block;
    margin-bottom: 15px;
}
.catalog__sect {
    display: flex;
}
.filters {
    flex: 1;
}
.butn__open {
    margin-top: 30px;
}
.catalog__sorting {
    background-color: #ececec;
}
.form-check-input:focus {
    border-color: transparent;
    box-shadow: none;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
    border: 2px solid #727676;
}

.form-check-input:checked {
    background-color: #ccf60e;
    border-color: #ccf60e;
}
input[type="checkbox"],
input[type="radio"] {
    height: 20px;
    width: 20px;
}
.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
}

/* -----------------------------кастом bootstrap accordion---- */
.accordion {
    /* max-width: 300px; */
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
    border-radius: 10px;
}

.accordion-button {
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px 25px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    background-color: #f8f8f8;
    border-radius: 10px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrw-catalog.svg);
    width: 18px;
    height: 18px;
    transform: rotate(-180deg);
}
.accordion-button::after {
    width: 18px;
    height: 18px;
    background-image: url(../img/arrw-catalog.svg);
    background-size: 18px;
}
.accordion-item .accordion-button {
    color: #181f20;
    background-color: #f8f8f8;
    border-radius: 10px;
    gap: 10px;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
}
.ui-button .ui-icon {
    background-image: url(../img/arrw-catalog.svg);
    background-size: 80%;
    background-position: center;
}
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
    background-image: url(../img/arrw-catalog.svg);
}
.ui-selectmenu-button-open .ui-icon {
    background-image: url(../img/arrw-catalog.svg);
    rotate: 180deg;
}
.ui-icon-triangle-1-s {
    background-position: 0px -0px;
}
.accordion-collapse {
    background-color: #f8f8f8;
}

.overlay-black {
}

/* ..............................................кастом selected...................... */
.ui-selectmenu-button.ui-button {
    text-align: left;
    max-width: 250px;
    width: 100%;
    border: none;
}
.ui-button {
    padding: 13px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    margin-right: 0;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    overflow: visible;
    background-color: #ececec;
    font-family: "Cera Pro", sans-serif;
    border: none;
}
.ui-selectmenu-text {
    margin-right: 0px;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 10px 0 10px 20px;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    margin: 0;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
    background: #ccf60e;
    font-weight: normal;
    color: #181f20;
    border-radius: 0;
}
.ui-widget.ui-widget-content {
    border: none;
    border-radius: 10px;
    background: #f8f8f8;
}
.ui-selectmenu-menu.ui-front.ui-selectmenu-open {
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 10px;
    top: 270px !important;
}
/* ----------------------------кастом jq range-------------------------------- */

.ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #ccf60e;
    background: #ccf60e;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 6px;
    height: 1px;
    display: flex;
    background: rgb(36, 36, 36);
}
.filter-price {
    font-family: "Cera Pro", sans-serif;
    border: none;
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
}
.accordion-body--price {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: calc(100% - 22px);
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: 0;
}
.accordion-item.mobile-sort {
    display: none;
}
.form-check-label {
    text-wrap: wrap;
}
/* ----------------------------------------------пагинация-------------------------------------------- */
.pagination {
    justify-content: flex-end;
}
.light-theme .current {
    background: #a9d812;
    color: #fff;
    border-color: transparent;
    box-shadow: none;
    cursor: default;
}
.light-theme a,
.light-theme span {
    float: left;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    border: none;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 8px 0 0;
    box-shadow: none;
    background: #efefef;
}
/* --------------------------------------------------------- */

.butn-reset {
    color: grey;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-decoration: underline;
}
/* ---------------------------------------------------------------------/ */
.butn-greylight.p0 {
    padding: 0;
}
.search_butn {
    padding: 0;
    width: 19px;
    height: 19px;
    background: url(/img/search.svg) no-repeat;
    background-position: center center;
    background-size: contain;
}
.search_points-sale {
    position: relative;
}
.search_window {
    position: absolute;
    content: "";
    top: 83px;
    left: -10000px;
    /* border: 1px solid #ececec; */
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    padding: 20px;
    z-index: 2;
    border-radius: 0px;
}
.search_window.show {
    left: 0;
}
.search_window.show {
    left: 50%;
    transform: translate(-50%, 30px);
}
.search_window p {
    font-weight: 500;
}
.butn_close-search {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    top: 0;
    color: white;
    width: 25px;
    height: 25px;
    transform: translate(-100%, 170%);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(/img/icon/close-black.svg);
}
.search_window.show ul {
    margin-top: 100px;
}
.search_window.show ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
}
.search_window.show ul li a {
    text-transform: none;
}
.search_push {
    position: absolute;
    left: 38px;
    background: transparent;
    border: none;
    top: 0;
    color: white;
    /* padding: 8px; */
    width: 24px;
    height: 16px;
    transform: translate(-100%, 318%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/img/icon/arrow-green.svg);
}
.input-search {
    display: none;
}
.input-search.abs {
    z-index: 3;
    background: white;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    padding: 18px 15px;
    display: block;
    width: calc(100vw - 400px);
    border-radius: 10px;
    border: 1px solid #ededed;
    max-width: 1150px;
}
.search_window.show {
    left: 50%;
    top: 0;
    padding: 0;
    transform: translate(-50%, 0px);
}

@media (max-width: 1400px) {
    .butn-greylight input,
    button {
        border: none;
        background-color: transparent;
        padding: 0;
    }
}
@media (max-width: 992px) {

    .search_window.show {
        left: 50%;
        transform: translate(-50%, 21px);
    }
    
    .input-search.abs {
        top: 0;
        transform: translate(-50%, 82%);
        width: calc(100vw - 413px);
    }
}
@media (max-width: 768px) {
    .accordion-item.mobile-sort {
        display: block;
    }
    .ui-selectmenu-button.ui-button {
        display: none;
    }
    .catalog__cards {
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        grid-auto-rows: auto;
    }
    .catalog__card {
        gap: 25px;
    }
    .card__img {
        padding: 1px;
    }
    .pagination {
        justify-content: center;
    }
    .light-theme a,
    .light-theme span {
        padding: 5px 13px;
        margin: 0px 15px 0 0;
    }

    .sort_mobile {
        position: absolute;
        z-index: 99;
        top: 150px;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
    }
    .accordion-item {
        border-radius: 0;
        margin-bottom: 0;
    }
    .butn-greylight {
        border-radius: 10px;
        /* margin-top: 25px; */
    }
    .accordion-item.mobile-sort:first-child {
        display: block;
        background: #f8f8f8;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .accordion {
        min-width: 270px;
        width: 100%;
        max-width: 100%;
    }
    .accordion-item {
        border: none;
        border-bottom: 1px solid #f1f1f1;
    }
    .filters__container {
        padding: 15px 15px 45px 15px;
        background: #f8f8f8;
        border-radius: 10px 10px 0 0;
    }
    .overlay-black {
        position: absolute;
        background-color: #000000a8;
        width: 100vw;
        z-index: 100;
        top: 0;
        left: 0;
        display: inline-block;
        filter: brightness();
    }
    .overlay-show {
        background-color: rgb(0 0 0 / 75%);
        backdrop-filter: blur(5px);
        overflow: auto;
        height: 100vh;
    }
    .search_window.show {
        padding: 0 25px;
    }
    .input-search.abs {
        /* left: 160px; */
        top: 0px;
        width: calc(100vw - 360px);
    }
}
@media (max-width: 576px) {
    .light-theme a,
    .light-theme span {
        padding: 5px 11px;
        margin: 0px 10px 0 0;
    }
    .accordion-button {
        padding: 20px 0px;
        text-transform: none;
    }
    .accordion-item {
        border-bottom: 1px solid #dcdcdc;
    }
    .accordion-item.mobile-sort:first-child {
        padding: 20px 0;
    }
    .search_window.show {
        left: 50%;
        transform: translate(-50%, 0px);
    
        padding: 0 16px;
    }
    .input-search.abs {
        left: 50%;
        top: -20px;
        width: calc(100vw - 150px);
    }
}
@media (max-width: 360px) {
    .light-theme a,
    .light-theme span {
        padding: 3px 8px;
        margin: 0px 10px 0 0;
    }
}
