.stores--foot {
  position: inherit;
}
.footer__left img {
  max-width: 170px;
}
footer {
  min-height: 330px;
  margin-top: 70px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
}
.footer__top {
  height: 100%;
  /* padding-top: 55px; */
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
.nav__list--foot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__center h4 {
  margin-bottom: 33px;
}
.footer__center {
  display: flex;
  gap: 150px;
}
.butn.butn--foot {
  min-width: 257px;
  padding: 17px 51px;
}
.address--foot p {
  color: #aaaaaa;
}
.address--foot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
.copyright img {
  max-width: 55px;
}
 
@media (max-width: 1400px) {
  .form-tel .butn.butn--foot {
    min-width: 180px;
    width: 100%;
    padding: 17px 17px;
}

}
@media (max-width: 992px) {
  .footer__top {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__left {
    gap: 40px;
  }
  .footer__right .icon {
    padding: 20px 0;
  }
  .footer__right {
    gap: 20px;
  }

  .copyright {
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
  }
  .butn.butn--foot {
    width: 100%;
    margin-top: 20px;
}
}

@media (max-width: 768px){

}

@media (max-width: 576px) {
  .footer__top {
    gap: 40px;
  }
  .footer__center {
    gap: 60px;
  }
 
}
