.hiro__text {
  filter: brightness(1.1);
}

section.hiro {
  background: url(../img/hiro.webp) no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  max-height: 1000px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}
.butn.butn__hiro {
  padding: 18px 44px;
  margin-top: 45px;
  display: block;
  max-width: 175px;
}
.butn.butn__hiro:hover{
  color: white;
}
.hiro h1 {
  font-size: 54px;
  color: white;
  line-height: 1.2;
  font-weight: 500;
  max-width: 900px;
  letter-spacing: 0.03em;
}
.brand-color{
  background: linear-gradient(300deg, #679f1a, #b8e510);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hiro p {
  font-size: 18px;
  color: white;
  font-weight: 300;
  max-width: 622px;
  margin-top: 30px;
  line-height: 1.5;
}

.hiro__social {
  gap: 32px;
  display: flex;
}

@media (max-width: 1400px) {
  .hiro h1 {
    font-size: 60px;
    max-width: 800px;
  }

  .hiro p {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  section.hiro {
    min-height: 500px;
  }
  
  .hiro h1 {
    font-size: 55px;
    max-width: 600px;
  }
  
  .hiro p {
    font-size: 24px;
    line-height: 1.4;
    margin-top: 25px;
  }
  
  .butn.butn__hiro {
    margin-top: 35px;
  }
}

@media (max-width: 768px) {
  section.hiro {
    min-height: 450px;
  }
  
  .hiro h1 {
    font-size: 52px;
    max-width: 500px;
  }
  .hiro p{
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  section.hiro {
    min-height: 400px;
  }
  
  .hiro h1 {
    font-size: 49px;
    max-width: 100%;
  }

  .hiro p {
    font-size: 22px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .hiro__right {
    display: none;
  }
  
  .butn {
    width: 100%;
  }
  
  .hiro__social {
    display: none;
  }
  
  .butn.butn__hiro {
    max-width: 100%;
    margin-top: 25px;
  }
}

@media (max-height: 700px) {
  section.hiro {
    min-height: 450px;
  }
  
  .hiro h1 {
    font-size: 36px;
  }
  
  .hiro p {
    margin-top: 15px;
  }
  
  .butn.butn__hiro {
    margin-top: 20px;
    padding: 15px 35px;
  }
}
