.social {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    /* gap: 55px; */
    margin-top: 100px;
    padding-top: 0;
}
 
.form-text {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 40px;
    line-height: 140%;
}
.form-tel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}
.form-tel .input {
    position: relative;
    max-width: 350px;
}
.form-tel .text-danger{
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    transform: translate(0px, 100%);
}
.input-white input {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.input-white input::placeholder {
    color: #999999;
}

.input-white label {
    color: black;
    letter-spacing: normal;
}

.input-white .label-tel {
    background-color: #ffffff;
}
.social__info {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.points_container_map{
    overflow: hidden;
    position: relative;
}
.marker-map{
    width: 0;
    height: 0;
    position: relative;
}
.marker-map::after{
    content: " ";
    bottom: 0;
    width: 25px;
    height: 31px;
    background: url(../img/marker.svg) no-repeat;
    background-size: cover;
    position: absolute;
    left: -50%;
    transform: translate(-50%, 0);
}

.map_index{
    height: 500px;
    width: 100vw;
}
@media (max-width: 1400px) {
    .form-tel .input-tel input {
        width: 125px;
    }
    .form-tel .input {
        width: 100%;

        min-width: 220px;
    }
}
@media (max-width: 992px) {
    .social__info {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .form-tel .input {
        max-width: 992px;
    }

    .form-tel {
        flex-wrap: wrap;

        gap: 20px;
    }
}
