@import url("/css/reset.css");
@import url("/css/jquery-ui.css");
/* --------------- */
@import url("/css/header.css");
@import url("/css/fonts.css");
@import url("/css/hiro.css");
@import url("/css/products.css");
@import url("/css/company.css");
@import url("/css/dealer.css");
@import url("/css/forms-dl.css");
@import url("/css/social.css");
@import url("/css/points-sale.css");
@import url("/css/footer.css");
/* ------------------- */
@import url("/css/catalog.css");
@import url("/css/dealers-section.css");
.general-container {
    position: relative;
}
.no-display {
    display: none;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.align-end {
    align-items: flex-end;
}
.self-start {
    align-self: start;
}
.relative{
position: relative;
}
a:focus {
    outline: none;
}
.section-p {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-p5 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.p-top {
    padding-top: 70px;
}

.general-container {
    display: flex;
    flex-direction: column;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
}
body {
    font-family: "Cera Pro", sans-serif;
    letter-spacing: 0.75px;
    color: #181f20;
    line-height: 1.3;
}
a {
    text-decoration: none;
    color: #181f20;
}
a:hover,
a:focus,
a:active {
    color: #181f20;
}

img {
    width: 100%;
}
h2 {
    text-transform: uppercase;
    font-size: 40px;
}

h4 {
    color: #ccf60e;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title-l {
    font-size: 25px;
    color: black;
    font-weight: 500;
}
.title-m {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.66px;
    text-transform: uppercase;
}
.text {
    font-size: 14px;
    max-width: 420px;
    color: #181f20;
    text-align: end;
    font-weight: 400;
}
.text a {
    border-bottom: 1px dashed #181f20;
}
.text-danger {
    color: #dc3545 !important;
    font-size: 10px;
}
.title-sm-green {
    color: #81c441;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
}
.relative {
    position: relative;
}
.breadcrumb {
    font-size: 14px;
    margin-bottom: 0;
}

.text-grad {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(35deg, #b5e210, #69a019);
}

.black {
    color: #181f20;
}

.butn.black-bg {
    background: #181f20;
}
.white {
    color: white !important;
}
.red {
    color: #dc4949 !important;
}
.m0 {
    margin: 0;
}
.p0 {
    padding: 0;
}
.m_w-100 {
    max-width: 100%;
    width: 100%;
}
.no-bg {
    background: none;
}
.bg-light-grey {
    background: #f7f7f7;
}
.bg-w {
    background-color: white;
}
input::placeholder {
    font-family: "Cera Pro", sans-serif;
    font-size: 15px;
}

.category a.butn {
    max-width: 100%;
}
a.butn:hover {
    color: white;
    background: linear-gradient(300deg, #b8e510, #679f1a);
    transition: all 2.5s;
}
.butn {
    background: linear-gradient(300deg, #679f1a, #b8e510);
    color: white;
    font-weight: 500;
    padding: 19px 25px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: "Cera Pro", sans-serif;
    text-wrap: nowrap;
}
.butn img {
    max-width: 15px;
}
.butn-greylight {
    padding: 13px 20px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    background: white;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
}
.butn-greylight input,
button {
    border: none;
    background-color: transparent;
    padding: 0;
}
.show-mobile {
    display: none;
}
.upper {
    text-transform: uppercase;
}
.fansy_btn {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* ----------------------------------------------------icons----------------------------- */
.icon {
    display: flex;
    gap: 5px;
}
.icon.icon-mobile {
    display: none;
}
.icon-item {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #ececec;
    display: flex;
    justify-content: center;
    background: white;
}
.icon-item:hover {
    transform: scale(1.2);
    transition: 0.5s all;
}
.icon-item img {
    max-width: 16px;
}

.breadcrumb__container {
    align-items: center;
    gap: 15px;
}
.breadcrumb__container img {
    width: 23px;
    height: 2px;
}
.sect__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}
.sect__bottom {
    display: flex;
    justify-content: space-between;
}
.sect__bottom p {
    max-width: 420px;
    text-align: end;
}
.sect__top.p0 {
    padding: 0;
}

figure {
    position: relative;
}
figure:hover figcaption img {
    transform: scale(1.2);
}
figcaption {
    position: absolute;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
}
/* ----------------------------------------------------social__item----------------------------- */
.social__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social__item p {
    color: #aaaaaa;
    font-size: 16px;
}
.social__item a {
    font-size: 22px;
    letter-spacing: normal;
}

.select-country {
    line-height: 0;
}
.container_alert {
    display: flex;
    flex-direction: column;
    padding: 60px 120px;
    border-radius: 30px;
    max-width: max-content;
    margin: 70px auto;
    align-items: center;
    background: white;
    max-width: 500px;
}
.container_alert .title-m {
    text-transform: none;
    text-align: center;
}
.container_alert .text {
    text-align: center;
    margin: 15px 0 30px 0;
}
.container_alert .butn {
    width: 100%;
    max-width: 100%;
}
.container_alert img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.container-grey {
    background-color: #f7f7f7;
}
/* ------------------------------------------------------- */
.butn-search.p0 {
    padding: 0;
}
/* ------------------------------------------------------- */

@media (max-width: 1400px) {
    .social__item a {
        font-size: 20px;
        letter-spacing: normal;
    }
}
@media (max-width: 992px) {
    .sect__bottom {
        flex-wrap: wrap;
        gap: 24px;
    }
    .sect__bottom p {
        text-align: start;
        line-height: 140%;
        max-width: 100%;
    }
    .social__item {
        gap: 10px;
    }
}
@media (max-width: 768px) {
    a.no-show-mobile,
    div.no-show-mobile {
        display: none;
    }
    .show-mobile {
        display: flex;
        width: 100%;
    }
}
@media (max-width: 576px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    h2 {
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 120%;
    }
    h3 {
        font-size: 24px;
    }
    .section-p {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .general-container {
        gap: 70px;
    }
    h4.title-l {
        font-size: 28px;
        text-align: start;
        font-weight: 400;
    }
    .container_alert {
        padding: 60px 20px;
        margin: 30px 16px;
    }
}
@media (max-width: 400px) {
    h2 {
        font-size: 25px;
        font-weight: 500;
    }
    .breadcrumb-item a {
        font-size: 12px;
    }
    .breadcrumb-item.active {
        font-size: 12px;
    }
    /* .section-p {
        padding-top: 40px;
        padding-bottom: 40px;
    } */
    .section-p5 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .p-top {
        padding-top: 50px;
    }
}
